<p>
<strong>Ocena filmu</strong>
  <%= rating.rating %>
</p>
<p>
  <strong>Komentarz: </strong>
  <%= rating.comment %>
</p>
<div class="form-group">
  <%= link_to 'Usuń ocenę', movie_rating_path(@movie, rating),
        method: :delete,
        data: { confirm: 'Jesteś pewny?' }, class: "btn btn-primary" %>
</div>
